# Node modules
node_modules/

# Playwright reports
playwright-report/
blob-report/
test-results/

# Traces, videos, screenshots (generados en ejecución)
**/trace.zip
**/*.webm
**/*.png

# Cache
.npm/
.cache/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Playwright temp
playwright/.cache/